<!DOCTYPE html>
<html lang="en">
  <head>
    <title>myApp - First successful MySQL DB Connection</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-2">
      <div class="container">
          <a href="#" class="navbar-brand">
            <img src="nvidia_logo.png" width="100px" alt="">
          </a>
          <button 
          class="navbar-toggler" 
          type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navmenu">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navmenu">
              <ul class="navbar-nav ms-auto">
                  <li class="nav-item">
                      <a href="#about" class="nav-link">About the Program</a>
                  </li>
                  <li class="nav-item">
                      <a href="#questions" class="nav-link">FAQs</a>
                  </li>
                  <li class="nav-item">
                      <a href="#hosts" class="nav-link">Facilitators</a>
                  </li>
                  
              </ul>
          </div>
      </div>
  </nav>

  <section>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-6 pt-5">
          <h3>Company and Contact</h3>
          <p class="lead">Company Information</p>
          <form action="contact-us" method="POST">

            <div class="form-group">
              <label for="companyName">Company Name</label>
              <input type="text" class="form-control col-lg-9" id="company_name" aria-describedby="emailHelp" placeholder="Enter Company Name" name="company_name">
            </div>

            <div class="form-group">
              <label for="altcompanyName">Localized/Alternative Company Company Name</label>
              <input type="text" class="form-control col-lg-9" id="altcompany_name" aria-describedby="emailHelp" placeholder="Enter Localized/Alternative Company Name" name="altcompany_name">
            </div>

            <div class="form-group">
              <label for="companyWebsite">Company Website</label>
              <input type="text" class="form-control col-lg-9" id="website" aria-describedby="emailHelp" placeholder="Enter Company Website" name="companyWebsite">
            </div>

            <div class="form-group">
              <label for="incDate">Incorporation Date</label>
              <input type="date" class="form-control col-lg-9" id="inc_date" aria-describedby="emailHelp" placeholder="Enter Incorporation Date" name="inc_date">
            </div>

            <div class="form-group">
              <label for="companyMission">Company Mission</label>
              <input type="text" class="form-control col-lg-9" id="company_mission" aria-describedby="emailHelp" placeholder="Enter Company Mission" name="company_mission">
            </div>

            <p class="lead"><strong><u> Contact Information</u></strong> </p>
            <div class="form-group">
              <label for="firstName">First Name</label>
              <input type="text" class="form-control col-lg-9" id="f_name" aria-describedby="emailHelp" placeholder="Enter first name" name="f_name">
            </div>
            <div class="form-group">
              <label for="lastName">Last Name</label>
              <input type="text" class="form-control col-lg-9" id="l_name" aria-describedby="emailHelp" placeholder="Enter last name" name="l_name">
            </div>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control col-lg-9" id="exampleInputEmail1" aria-describedby="emailHelp" name="email" placeholder="Enter email">
            </div>        
            <div class="form-group">
              <label for="exampleInputEmail1">Message</label>
              <textarea name="message" class="form-control col-lg-9"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <div class="col-md-6 py-5">
          <h3>Accelerate Your AI Startup</h3>            
            <p class="lead">Application Overview</p>
            <p>
              There are no costs associated with applying to NVIDIA Inception. There are no application fees, membership fees, or equity requirements. However, if accepted, you must update your profile every six months to remain eligible for benefits.
            </p>
            <p>
              Applications take approximately 30 minutes to complete and must be submitted in English. We suggest that you have key company information such as details on your startup’s technology platform(s), as well as your business model, funding history, logo and pitch deck available prior to starting your application.
            </p>
            <p>
              After submitting your application, please allow 2 weeks for our team to review it.Please email InceptionProgram@nvidia.com if you have any additional questions.
            </p>
            <p>
              We look forward to receiving your application!
            </p>
            <a href="#" >
              <p class="lead">Inception Terms and Conditions</p>
            </a>

            
 


 


 

 




        </div>
      </div>
    </div>
  </section>

  </body>
</html>